.brandingSection {
  /* flex: 1; */
  width: 100%;
  height: 100%;
  background-color: #e8f5e9;
  min-height: 100vh;
  position: relative;
  overflow: hidden;
  background-image: url('../assets/Goa.png');
  background-size:contain;     
  background-position:center; 
  background-repeat: no-repeat; 


}

.BrandLogo {
  size: 100;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 100%;
  height: auto;
  z-index: 1;
}


.GarbageBin {
  position: absolute ;
  transform: scaleX(-1);
  bottom: 0;
  left: -70px;
  width: 250px;
  height: 250px;
}

.GarbageBinSmall {
  position: absolute;
  bottom: 0;
  right: -50px;
  width: 200px;
  height: 200px;
}

/* Mobile */
@media (max-width: 1023px) {
  .brandingSection {
    display: none;
  }

  .BrandLogo {
    display: none;
  }

  .GarbageBin {
    display: none;
  }

  .GarbageBinSmall {
    display: none;
  }
}