.Login-container {
  display: flex;
  height: 100vh;
  width: 100%;
}

/* LEFT */
.Login-container > :first-child {
  flex: 1;
}

/* RIGHT */
.FormSection {
  flex: 1;
  background-color: #1f1f1f; /* dark desktop background */
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

/* MOBILE */
@media (max-width: 1023px) {
  .Login-container {
    flex-direction: column;
    background-color: #1f1f1f;
  }

  .FormSection {
    width: 100%;
    padding: 0;
  }
}
