.Login-container{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: normal;
  align-content: normal;
}

.BrandSection {
  display: block;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  align-self: auto;
  order: 0;
}

.FormSection{
  display: block;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  align-self: auto;
  order: 0;
}
/* LEFT
.Login-container > :first-child {
  flex:content;
  size:100%;
}

/* RIGHT */
/* .FormSection {
  flex: 1;
  background-color: #1f1f1f; /* dark desktop background */
  /*display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}  */

/* MOBILE */
@media (max-width: 1023px) {
  .Login-container {
    flex-direction: column;
    background-color: #1f1f1f;
  }

  .FormSection {
    width: 100%;
    padding: 0;
  }
}
