.Login-container {
  display: flex;
  height: 100vh;
  width: 100%;
}

.FormSection {
  flex: 1;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  position: relative;
}

/* Mobile */
@media (max-width: 1023px) {
  .Login-container {
    flex-direction: column;
    height: auto;
    min-height: 100vh;
  }

  .FormSection {
    flex: 1;
    width: 100%;
    padding: 20px;
  }
}

